extends ../layout

block content
    ul.breadcrumb.pull-right
        li
            a(href="#") Home
            span.divider /
        li heh
    h2.page-header #{article.name}
    div.row
        div.span3
            div#left-nav(data-spy="affix",data-offset-top="160",style="width:258px;top:22px;")
                ul.nav
                    each v,i in menus
                        if i==0
                            li.nav-header(style="padding-top:13px") #{v[1]}
                        else if i==1
                            li.active
                                a(href="##{v[0]}") #{v[1]}
                                    i.icon-chevron-right.pull-right
                        else
                            li
                                a(href="##{v[0]}") #{v[1]}
                                    i.icon-chevron-right.pull-right
        div.span9
            div
                ul#article-inner-nav.nav.nav-tabs
                    li.active
                        a(href="#tab1",data-toggle="tab") 文字
                    li
                        a(href="#tab2",data-toggle="tab",style="margin-right:0") 代码
                div.tab-content(style="clear:both")
                    div.tab-pane.active#tab1
                        p !{article.text}
                    div.tab-pane#tab2
                        p
                            code #{article.code}
                block article
    script(src="/syntaxhighlighter/scripts/shCore.js")
    script(src="/syntaxhighlighter/scripts/shAutoloader.js")
    script(src="/javascripts/syntax.js")
    link(rel="stylesheet",href="/syntaxhighlighter/styles/shCoreDefault.css")
    //script(src="/javascripts/markdown.js")
    //script.
        /*
        function Editor(input, preview) {
            this.update = function () {
              preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        new Editor($("#tab1 p"), $("#tab1 p"));
        */

        $("#tab1 p").html(markdown.toHTML($("#tab1 p").html()));