extends ../layout

block content
    ul.breadcrumb.pull-right
        - for(var i=locsAll.length-1;i > -1;i--){
            li
                if i-1
                    a(href="#{locsAll[i-1]}") #{locsAll[i--]}
                    span.divider /
                else
                    span #{locsAll[i--]}
        - }
    h2.page-header #{article.name}
    div.row
        div.span3
            div#left-nav(data-offset-top="160",style="width:258px;top:22px;")
                ul.nav
                    li.nav-header(style="padding-top:13px") 文章
                    if menus.length == 0
                        li(style="padding:10px") 没有内容
                    else
                    each v,i in menus
                        if v.replace(/\.[^.]*$/g,"")==article.name
                            li.active
                                a(href="#{v}") #{v}
                                    i.icon-chevron-right.pull-right
                        else
                            li
                                a(href="#{v}") #{v}
                                    i.icon-chevron-right.pull-right
        div.span9
            div
                ul#article-inner-nav.nav.nav-tabs
                    li.active
                        a(href="#tab1",data-toggle="tab") 文字
                    li
                        a(href="#tab2",data-toggle="tab",style="margin-right:0") 代码
                div.tab-content(style="clear:both")
                    div.tab-pane.active#tab1
                        p !{article.text}
                    div.tab-pane#tab2
                        p !{article.code}
                block article
    link(rel="stylesheet",href="/stylesheets/obsidian.css")
    //script(src="/syntaxhighlighter/scripts/shCore.js")
    //script(src="/syntaxhighlighter/scripts/shAutoloader.js")
    //script(src="/javascripts/modules/syntax.js")
    //link(rel="stylesheet",href="/syntaxhighlighter/styles/shCoreEclipse.css")
    //script(src="/javascripts/markdown.js")
    //script.
        /*
        function Editor(input, preview) {
            this.update = function () {
              preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        new Editor($("#tab1 p"), $("#tab1 p"));
        */

        $("#tab1 p").html(markdown.toHTML($("#tab1 p").html()));